*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/layout';
@import 'sass/spacing';
@import 'sass/typograph';


html{
  scroll-behavior: smooth;
}


body{
  width: 100%;
  position: relative;

  background-color: #ccc;

  &::-webkit-scrollbar{
    padding-right: 2px;
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #ff8000;
  }
}

.border{
  border: 1px solid red;
}

.hidden{
  overflow: hidden;
}

.relative{
  position: relative;
}


// reset svg/img
svg,img{
  width: 100%;
  //height: auto;
}

.desktop-only{
  @include responsive(s){
    display: none;
  }
}


@import 'sass/menu';
@import 'sass/icons';
@import 'sass/buttons';
@import 'sass/borders';

// sections
@import 'sass/header';
@import 'sass/sechero';
@import 'sass/sectimer';
@import 'sass/sectodo';
