.menu-mobile{

  width: 100%;
  height: 100vh;

  margin-top: 80px;


  position: fixed !important;
  top: 0;
  // some com o menu mobile
  left: -100%;
  z-index: 990;
  background-color: rgba(6, 9, 15, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); // Suporte para Safari
  
  
  transition: 0.7s ease;

  & li{
    border-bottom: 1px solid $black-light;



    & .link-menu-mobile{
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 24px 16px 24px 16px;

      &:hover{
        background-color: $black-light;
        padding: 24px 16px 24px 24px;
      }
    }

  }

  
}




// mostra o menu com a chamada do js
.menu-mobile.showmenu{
  
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
}


